<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>用户登录</title>
    <link rel="stylesheet" href="/static/css/base.css"/>
    <link rel="stylesheet" href="/static/css/login.css"/>

    <link rel="stylesheet" type="text/css" href="/static/css/fly.css">

	<script type="text/javascript" src="/static/js/paper-full.min.js"></script>


</head>
<body>

<!--特效-->
<!--<div style="position: relative;z-index: 1000">-->
    <!--<canvas id="triangle-lost-in-space" resize="true"></canvas>-->
    <!--<script type="text/javascript" src="/static/js/fly.js"></script>-->
    <!--<style>-->
        <!--canvas{width: 100%;height: 100%}-->
    <!--</style>-->
<!--</div>-->


<!--登录框-->
<div id="main" style="position: absolute;z-index: 999;" >
    <div id="header">
        <img src="/static/images/register/logo1.png" class="logo_img">
    </div>
    <div class="container">
        <div class="bgPic">
            <!--<img src="/static/images/register/xk1.jpg" alt=""/>-->

        </div>
        <div class="register">
            <div class="title">
                <span>登录</span>
                <a href="/register/">去注册</a>
                <p>
                    <b class="prompt">{{ message }}</b>
                </p>
            </div>
            <form method="post">
                {% csrf_token %}
                {% for field in form %}
                <div class="default">
                  <p>{{ field.label }}</p>
                  {{ field }}
                </div>
                {% endfor %}
                <div class="submit">
                        <span class="notice">
                            <a href="/Password_change-1/">忘记密码</a>
                        </span>
                    <button class="s_hover" type="submit">登录</button>
                </div>
            </form>
            <div class="other_login">
                <div class="log">
                    <span>社交账号登录</span>
                </div>
                <div class="icon">
                    <ul>
                        <li data-log="icon" class="i_hover">
                            <img data-icon="wx" src="/static/images/register/wx.png" alt=""/>
                            <span class="prompt" >微信登录</span>
                        </li>
                        <li data-log="icon" class="i_hover">
                            <img data-icon="qq" src="/static/images/register/qq.png" alt=""/>
                            <span class="prompt" >QQ登录</span>
                        </li>
                        <li data-log="icon" class="i_hover">
                            <img data-icon="wb" src="/static/images/register/wb.png" alt=""/>
                            <span class="prompt" >微博登录</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div id="footer">
    </div>
</div>




<!--特效-->
<div style="position: relative;z-index: 10">
    <canvas id="triangle-lost-in-space" resize="true"></canvas>
    <script type="text/javascript" src="/static/js/fly.js"></script>
    <style>
        canvas{width: 100%;height: 100%}
    </style>
</div>



</body>
</html>