<!DOCTYPE html>
<html>

	<head>
		<link rel="shortcut icon" href="/static/images/logo.ico" />
		<meta charset="UTF-8">
		<title>导航和轮播</title>
		<!-- 引入icon -->
		<script type="text/javascript" charset="utf-8" src="/static/icon/iconfontl.js"></script>
		<!-- 引入拖拽插件 -->
		<script type="text/javascript" charset="utf-8" src="/static/js/Sortablel.js"></script>
		<!-- 引入 jquery -->
		<link rel="stylesheet" href="/static/css/biaoti.css">
		<link rel="shortcut icon" href="/static/image/logo.png">
		<script src="http://www.jq22.com/jquery/jquery-1.10.2.js"></script>
		<script type="text/javascript" charset="utf-8" src="/static/js/javascript.js"></script>
		<link rel="stylesheet" type="text/css" href="/static/css/swiper.min.css" />
		<link rel="stylesheet" type="text/css" href="/static/css/style.css" />
		<link rel="stylesheet" type="text/css" href="/static/css/kefu.css" />
		<link rel="stylesheet" type="text/css" href="/static/css/fx-header.css" />
		<link rel="stylesheet" type="text/css" href="/static/css/fx-Torr.css" />
		<script type="text/javascript" src="/static/js/kefu.js" ></script>
		<script type="text/javascript" charset="utf-8" src="/static/js/core.js"></script>
		<script type="text/javascript" charset="utf-8" src="/static/js/v8.js"></script>
		<script type="text/javascript" charset="utf-8" src="/static/js/card.js"></script>
		<script type="text/javascript" charset="utf-8" src="/static/js/tool.js"></script>
		<script type="text/javascript" charset="utf-8" src="/static/js/widget.js"></script>
		<link rel="stylesheet" type="text/css" href="/static/css/filmpc.css"/>
<style>
input {
    float: left;
    width: 400px;
    height: 22px;
    padding: 8px 12px 8px 18px;
    outline: 0 none;
    color: black;
    font-size: 14px;
    line-height: 22px;
    background: rgba(255,255,255,0.3);
    border: 0 none;
    border-top-left-radius: 19px;
    border-bottom-left-radius: 19px;
}
.button_submit{
    /* position: absolute; */
    width: 80px;
    height: 38px;
    /* line-height: 38px; */
    top: 0;
    /* right: -1px; */
    /* padding: 0; */
    color: #fff;
    text-align: center;
    font-size: 13px;
    font-family: "微软雅黑";
    background: #1f82fc;
    outline: 0;
    /* cursor: pointer; */
    border: 0 none;
    border-top-right-radius: 19px;
    border-bottom-right-radius: 19px;
}
</style>
	</head>


	<body style="height: 3000px; background:rgba(70,80,85,0.4);" >


{% block film_page %}
<div class="main">
	<div class="dy-content">
		<div class="dy-videos">
			<ul class="dy-video-list">
				<li data- class="dy-video-item dy-video-meta-right">
				<div class="dy-video-meta">
					<div class="dy-video-meta-bg">
					</div>
					<div class="dy-video-meta-dy">
						<h4 class="dy-video-title">
						<a>
                        西虹市首富
						</a>
						</h4>
						<span class="dy-video-rating">7.3</span>
						<ul class="dy-video-meta-list">
							<li class="dy-video-actors">
							<span class="dy-video-tip">
                                主演:
							</span>
							<a>沈腾</a>
							<a>宋芸桦</a>
							</li>
							<li class="dy-video-types">
							<span class="dy-video-tip">类型:</span>
							<span class="dy-video-meta-filter">喜剧</span>
							</li>
							<li class="dy-video-areas">
							<span class="dy-split">|</span>
							<span class="dy-video-tip">地区:</span>
							<span class="dy-video-meta-filter">内地</span>
							</li>
							<li class="dy-video-starts">
							<span class="dy-split">|</span>
							<span class="dy-video-tip">年代:</span>
							<span class="dy-video-meta-filter">2018</span>
							</li>
						</ul>
						<p class="dy-video-intro">
										《西虹市首富》的故事发生在《夏洛特烦恼》中的“特烦恼”之城“西虹市”。混迹于丙级业余足球队的守门员王多鱼（沈腾饰演...
							<a class="dy-video-intro-more">更多</a>
						</p>
					</div>
					<div class="dy-video-meta-bg">
					</div>
				</div>
				<div class="dy-video-poster">
					<a class="dy-video-link">
					<img class="dy-video-img" src="/static/images/filmpc/1.jpg" alt="西虹市首富">
					<span class="dy-video-nocomplete"></span>
					<span class="dy-video-date">
                                2018 年
					</span>
					<span class="dy-video-bg"></span>
					<span class="s-pay"></span>
					</a>
				</div>
				<div class="dy-video-primary">

					<h4 class="dy-video-title"><a>
                            西虹市首富
					</a>
					</h4>
					<span class="dy-video-rating">
                                7.3
					</span>
				</div>
				</li>
				<li data- class="dy-video-item dy-video-meta-right">
				<div class="dy-video-meta">
					<div class="dy-video-meta-bg">
					</div>
					<div class="dy-video-meta-dy">
						<h4 class="dy-video-title">
						<a>
                        一出好戏
						</a>
						</h4>
						<span class="dy-video-rating">8.0</span>
						<ul class="dy-video-meta-list">
							<li class="dy-video-actors">
							<span class="dy-video-tip">
                                主演:
							</span>
							<a>黄渤</a>
							<a>舒淇</a>
							</li>
							<li class="dy-video-types">
							<span class="dy-video-tip">类型:</span>
							<span class="dy-video-meta-filter">喜剧</span>
							</li>
							<li class="dy-video-areas">
							<span class="dy-split">|</span>
							<span class="dy-video-tip">地区:</span>
							<span class="dy-video-meta-filter">内地</span>
							</li>
							<li class="dy-video-starts">
							<span class="dy-split">|</span>
							<span class="dy-video-tip">年代:</span>
							<span class="dy-video-meta-filter">2018</span>
							</li>
						</ul>
						<p class="dy-video-intro">
										马进欠下债务，与远房表弟小兴在底层社会摸爬滚打，习惯性的买彩票，企图一夜爆富，并迎娶自己的同事姗姗。一日，公司全体...
							<a class="dy-video-intro-more">更多</a>
						</p>
					</div>
					<div class="dy-video-meta-bg">
					</div>
				</div>
				<div class="dy-video-poster">
					<a class="dy-video-link">
					<img class="dy-video-img" src="/static/images/filmpc/2.jpg" alt="一出好戏">
					<span class="dy-video-nocomplete"></span>
					<span class="dy-video-date">
                                2018 年
					</span>
					<span class="dy-video-bg"></span>
					<span class="s-pay"></span>
					</a>
				</div>
				<div class="dy-video-primary">

					<h4 class="dy-video-title"><a>
                            一出好戏
					</a>
					</h4>
					<span class="dy-video-rating">
                                8.0
					</span>
				</div>
				</li>
				<li data- class="dy-video-item dy-video-meta-right">
				<div class="dy-video-meta">
					<div class="dy-video-meta-bg">
					</div>
					<div class="dy-video-meta-dy">
						<h4 class="dy-video-title">
						<a>
                        捉妖记2
						</a>
						</h4>
						<span class="dy-video-rating">6.6</span>
						<ul class="dy-video-meta-list">
							<li class="dy-video-actors">
							<span class="dy-video-tip">
                                主演:
							</span>
							<a>白百何</a>
							<a>井柏然</a>
							</li>
							<li class="dy-video-types">
							<span class="dy-video-tip">类型:</span>
							<span class="dy-video-meta-filter">喜剧</span>
							<span class="dy-video-meta-filter">奇幻</span>
							</li>
							<li class="dy-video-areas">
							<span class="dy-split">|</span>
							<span class="dy-video-tip">地区:</span>
							<span class="dy-video-meta-filter">内地</span>
							</li>
							<li class="dy-video-starts">
							<span class="dy-split">|</span>
							<span class="dy-video-tip">年代:</span>
							<span class="dy-video-meta-filter">2018</span>
							</li>
						</ul>
						<p class="dy-video-intro">
										上一集与胡巴分别后，天荫带着小岚踏上寻父之路，在义薄云天的天师堂堂主云大哥的帮助下，二人得知天荫父亲宋戴天的护妖轨...
							<a class="dy-video-intro-more">更多</a>
						</p>
					</div>
					<div class="dy-video-meta-bg">
					</div>
				</div>
				<div class="dy-video-poster">
					<a class="dy-video-link">
					<img class="dy-video-img" src="/static/images/filmpc/3.jpg" alt="捉妖记2">
					<span class="dy-video-complete"></span>
					<span class="dy-video-date">
                                2018 年
					</span>
					<span class="dy-video-bg"></span>
					</a>
				</div>
				<div class="dy-video-primary">

					<h4 class="dy-video-title"><a>
                            捉妖记2
					</a>
					</h4>
					<span class="dy-video-rating">
                                6.6
					</span>
				</div>
				</li>
				<li data- class="dy-video-item dy-video-meta-right">
				<div class="dy-video-meta">
					<div class="dy-video-meta-bg">
					</div>
					<div class="dy-video-meta-dy">
						<h4 class="dy-video-title">
						<a>
                        死侍
						</a>
						</h4>
						<span class="dy-video-rating">8.0</span>
						<ul class="dy-video-meta-list">
							<li class="dy-video-actors">
							<span class="dy-video-tip">
                                主演:
							</span>
							<a>瑞恩·雷诺兹</a>
							</li>
							<li class="dy-video-types">
							<span class="dy-video-tip">类型:</span>
							<span class="dy-video-meta-filter">喜剧</span>
							<span class="dy-video-meta-filter">科幻</span>
							</li>
							<li class="dy-video-areas">
							<span class="dy-split">|</span>
							<span class="dy-video-tip">地区:</span>
							<span class="dy-video-meta-filter">美国</span>
							</li>
							<li class="dy-video-starts">
							<span class="dy-split">|</span>
							<span class="dy-video-tip">年代:</span>
							<span class="dy-video-meta-filter">2016</span>
							</li>
						</ul>
						<p class="dy-video-intro">
										《金刚狼》的成功首映票房不仅让福克斯为《金刚狼2》开绿灯，更让福克斯有了打造更多角色外传的想法。据《综艺》报道，福...
							<a class="dy-video-intro-more">更多</a>
						</p>
					</div>
					<div class="dy-video-meta-bg">
					</div>
				</div>
				<div class="dy-video-poster">
					<a class="dy-video-link">
					<img class="dy-video-img" src="/static/images/filmpc/4.jpg" alt="死侍">
					<span class="dy-video-complete"></span>
					<span class="dy-video-date">
                                2016 年
					</span>
					<span class="dy-video-bg"></span>
					</a>
				</div>
				<div class="dy-video-primary">

					<h4 class="dy-video-title"><a>
                            死侍
					</a>
					</h4>
					<div class="dy-video-intro">
									死侍是一个亦正亦邪的角色。
					</div>
					<span class="dy-video-rating">
                                8.0
					</span>
				</div>
				</li>
				<li data- class="dy-video-item dy-video-meta-left">
				<div class="dy-video-meta">
					<div class="dy-video-meta-bg">
					</div>
					<div class="dy-video-meta-dy">
						<h4 class="dy-video-title">
						<a>
                        爱情公寓
						</a>
						</h4>
						<span class="dy-video-rating">5.2</span>
						<ul class="dy-video-meta-list">
							<li class="dy-video-actors">
							<span class="dy-video-tip">
                                主演:
							</span>
							<a>陈赫</a>
							<a>娄艺潇</a>
							</li>
							<li class="dy-video-types">
							<span class="dy-video-tip">类型:</span>
							<span class="dy-video-meta-filter">喜剧</span>
							<span class="dy-video-meta-filter">爱情</span>
							</li>
							<li class="dy-video-areas">
							<span class="dy-split">|</span>
							<span class="dy-video-tip">地区:</span>
							<span class="dy-video-meta-filter">内地</span>
							</li>
							<li class="dy-video-starts">
							<span class="dy-split">|</span>
							<span class="dy-video-tip">年代:</span>
							<span class="dy-video-meta-filter">2018</span>
							</li>
						</ul>
						<p class="dy-video-intro">
										《爱情公寓》电影版归来，原班人马十年催泪重聚。曾小贤、胡一菲、吕子乔、张伟、唐悠悠、陈美嘉悉数回归，还是熟悉的场景...
							<a class="dy-video-intro-more">更多</a>
						</p>
					</div>
					<div class="dy-video-meta-bg">
					</div>
				</div>
				<div class="dy-video-poster">
					<a class="dy-video-link">
					<img class="dy-video-img" src="/static/images/filmpc/5.jpg" alt="爱情公寓">
					<span class="dy-video-nocomplete"></span>
					<span class="dy-video-date">
                                2018 年
					</span>
					<span class="dy-video-bg"></span>
					<span class="s-pay"></span>
					</a>
				</div>
				<div class="dy-video-primary">

					<h4 class="dy-video-title"><a>
                            爱情公寓
					</a>
					</h4>
					<span class="dy-video-rating">
                                5.2
					</span>
				</div>
				</li>
				<li data- class="dy-video-item dy-video-item-last dy-video-meta-left">
				<div class="dy-video-meta">
					<div class="dy-video-meta-bg">
					</div>
					<div class="dy-video-meta-dy">
						<h4 class="dy-video-title">
						<a>
                        羞羞的铁拳
						</a>
						</h4>
						<span class="dy-video-rating">7.3</span>
						<ul class="dy-video-meta-list">
							<li class="dy-video-actors">
							<span class="dy-video-tip">
                                主演:
							</span>
							<a>艾伦</a>
							<a>马丽</a>
							</li>
							<li class="dy-video-types">
							<span class="dy-video-tip">类型:</span>
							<span class="dy-video-meta-filter">喜剧</span>
							<span class="dy-video-meta-filter">奇幻</span>
							</li>
							<li class="dy-video-areas">
							<span class="dy-split">|</span>
							<span class="dy-video-tip">地区:</span>
							<span class="dy-video-meta-filter">内地</span>
							</li>
							<li class="dy-video-starts">
							<span class="dy-split">|</span>
							<span class="dy-video-tip">年代:</span>
							<span class="dy-video-meta-filter">2017</span>
							</li>
						</ul>
						<p class="dy-video-intro">
										靠打假拳混日子的艾迪生（艾伦饰），本来和正义感十足的体育记者马小（马丽饰）是一对冤家，没想到因为一场意外的电击，男...
							<a class="dy-video-intro-more">更多</a>
						</p>
					</div>
					<div class="dy-video-meta-bg">
					</div>
				</div>
				<div class="dy-video-poster">
					<a class="dy-video-link">
					<img class="dy-video-img" src="/static/images/filmpc/6.jpg" alt="羞羞的铁拳">
					<span class="dy-video-complete"></span>
					<span class="dy-video-date">
                                2017 年
					</span>
					<span class="dy-video-bg"></span>
					</a>
				</div>
				<div class="dy-video-primary">

					<h4 class="dy-video-title"><a>
                            羞羞的铁拳
					</a>
					</h4>
					<span class="dy-video-rating">
                                7.3
					</span>
				</div>
				</li>
				<li data- class="dy-video-item dy-video-meta-right">
				<div class="dy-video-meta">
					<div class="dy-video-meta-bg">
					</div>
					<div class="dy-video-meta-dy">
						<h4 class="dy-video-title">
						<a>
                        熊出没(变形记)
						</a>
						</h4>
						<span class="dy-video-rating">7.3</span>
						<ul class="dy-video-meta-list">
							<li class="dy-video-actors">
							<span class="dy-video-tip">
                                主演:
							</span>
							<a>张伟</a>
							<a>张秉君</a>
							</li>
							<li class="dy-video-types">
							<span class="dy-video-tip">类型:</span>
							<span class="dy-video-meta-filter">冒险</span>
							<span class="dy-video-meta-filter">动画</span>
							</li>
							<li class="dy-video-areas">
							<span class="dy-split">|</span>
							<span class="dy-video-tip">地区:</span>
							<span class="dy-video-meta-filter">内地</span>
							</li>
							<li class="dy-video-starts">
							<span class="dy-split">|</span>
							<span class="dy-video-tip">年代:</span>
							<span class="dy-video-meta-filter">2018</span>
							</li>
						</ul>
						<p class="dy-video-intro">
										光头强爸爸突然到访狗熊岭，向来严厉古板的强爸却对光头强嘘寒问暖，而朝夕相处却未能缓和关系，反而导致了父子矛盾的爆发...
							<a class="dy-video-intro-more">更多</a>
						</p>
					</div>
					<div class="dy-video-meta-bg">
					</div>
				</div>
				<div class="dy-video-poster">
					<a class="dy-video-link">
					<img class="dy-video-img" src="/static/images/filmpc/7.jpg" alt="熊出没(变形记)">
					<span class="dy-video-complete"></span>
					<span class="dy-video-date">
                                2018 年
					</span>
					<span class="dy-video-bg"></span>
					</a>
				</div>
				<div class="dy-video-primary">

					<h4 class="dy-video-title"><a>
                            熊出没(变形记)
					</a>
					</h4>
					<span class="dy-video-rating">
                                7.3
					</span>
				</div>
				</li>
				<li data- class="dy-video-item dy-video-meta-right">
				<div class="dy-video-meta">
					<div class="dy-video-meta-bg">
					</div>
					<div class="dy-video-meta-dy">
						<h4 class="dy-video-title">
						<a>
                        乘风破浪
						</a>
						</h4>
						<span class="dy-video-rating">7.3</span>
						<ul class="dy-video-meta-list">
							<li class="dy-video-actors">
							<span class="dy-video-tip">
                                主演:
							</span>
							<a>邓超</a>
							<a>彭于晏</a>
							</li>
							<li class="dy-video-types">
							<span class="dy-video-tip">类型:</span>
							<span class="dy-video-meta-filter">喜剧</span>
							<span class="dy-video-meta-filter">冒险</span>
							</li>
							<li class="dy-video-areas">
							<span class="dy-split">|</span>
							<span class="dy-video-tip">地区:</span>
							<span class="dy-video-meta-filter">内地</span>
							</li>
							<li class="dy-video-starts">
							<span class="dy-split">|</span>
							<span class="dy-video-tip">年代:</span>
							<span class="dy-video-meta-filter">2017</span>
							</li>
						</ul>
						<p class="dy-video-intro">
										赛车手阿浪一直对父亲反对自己的赛车事业耿耿于怀，在向父亲证明自己的过程中，阿浪却意外的卷入了一场奇妙的冒险。他在这...
							<a class="dy-video-intro-more">更多</a>
						</p>
					</div>
					<div class="dy-video-meta-bg">
					</div>
				</div>
				<div class="dy-video-poster">
					<a class="dy-video-link">
					<img class="dy-video-img" src="/static/images/filmpc/8.jpg" alt="乘风破浪">
					<span class="dy-video-complete"></span>
					<span class="dy-video-date">
                                2017 年
					</span>
					<span class="dy-video-bg"></span>
					</a>
				</div>
				<div class="dy-video-primary">

					<h4 class="dy-video-title"><a>
                            乘风破浪
					</a>
					</h4>
					<span class="dy-video-rating">
                                7.3
					</span>
				</div>
				</li>
				<li data- class="dy-video-item dy-video-meta-right">
				<div class="dy-video-meta">
					<div class="dy-video-meta-bg">
					</div>
					<div class="dy-video-meta-dy">
						<h4 class="dy-video-title">
						<a>
                        卧底巨星
						</a>
						</h4>
						<span class="dy-video-rating">5.2</span>
						<ul class="dy-video-meta-list">
							<li class="dy-video-actors">
							<span class="dy-video-tip">
                                主演:
							</span>
							<a>陈奕迅</a>
							<a>李荣浩</a>
							</li>
							<li class="dy-video-types">
							<span class="dy-video-tip">类型:</span>
							<span class="dy-video-meta-filter">喜剧</span>
							<span class="dy-video-meta-filter">动作</span>
							</li>
							<li class="dy-video-areas">
							<span class="dy-split">|</span>
							<span class="dy-video-tip">地区:</span>
							<span class="dy-video-meta-filter">内地</span>
							</li>
							<li class="dy-video-starts">
							<span class="dy-split">|</span>
							<span class="dy-video-tip">年代:</span>
							<span class="dy-video-meta-filter">2017</span>
							</li>
						</ul>
						<p class="dy-video-intro">
										动作巨星元豹（陈奕迅饰）走红二十余载却从未得到过最佳男主角，因与泰国黑帮老大“八面佛”交好而被怀疑参与跨国贩毒犯罪...
							<a class="dy-video-intro-more">更多</a>
						</p>
					</div>
					<div class="dy-video-meta-bg">
					</div>
				</div>
				<div class="dy-video-poster">
					<a class="dy-video-link">
					<img class="dy-video-img" src="/static/images/filmpc/9.jpg" alt="卧底巨星">
					<span class="dy-video-complete"></span>
					<span class="dy-video-date">
                                2017 年
					</span>
					<span class="dy-video-bg"></span>
					</a>
				</div>
				<div class="dy-video-primary">

					<h4 class="dy-video-title"><a>
                            卧底巨星
					</a>
					</h4>
					<span class="dy-video-rating">
                                5.2
					</span>
				</div>
				</li>
				<li data- class="dy-video-item dy-video-meta-right">
				<div class="dy-video-meta">
					<div class="dy-video-meta-bg">
					</div>
					<div class="dy-video-meta-dy">
						<h4 class="dy-video-title">
						<a>
                        这就是命
						</a>
						</h4>
						<span class="dy-video-rating">5.9</span>
						<ul class="dy-video-meta-list">
							<li class="dy-video-actors">
							<span class="dy-video-tip">
                                主演:
							</span>
							<a>王迅</a>
							<a>曾志伟</a>
							</li>
							<li class="dy-video-types">
							<span class="dy-video-tip">类型:</span>
							<span class="dy-video-meta-filter">喜剧</span>
							<span class="dy-video-meta-filter">犯罪</span>
							</li>
							<li class="dy-video-areas">
							<span class="dy-split">|</span>
							<span class="dy-video-tip">地区:</span>
							<span class="dy-video-meta-filter">内地</span>
							</li>
							<li class="dy-video-starts">
							<span class="dy-split">|</span>
							<span class="dy-video-tip">年代:</span>
							<span class="dy-video-meta-filter">2017</span>
							</li>
						</ul>
						<p class="dy-video-intro">
										一事无成的落魄作家孟大卫（王迅 饰）与妻子杨晓楠（于莎莎 饰）感情遇危机，偏又雪上加霜被诊患癌。心灰意冷的孟大卫购...
							<a class="dy-video-intro-more">更多</a>
						</p>
					</div>
					<div class="dy-video-meta-bg">
					</div>
				</div>
				<div class="dy-video-poster">
					<a class="dy-video-link">
					<img class="dy-video-img" src="/static/images/filmpc/10.jpg" alt="这就是命">
					<span class="dy-video-complete"></span>
					<span class="dy-video-date">
                                2017 年
					</span>
					<span class="dy-video-bg"></span>
					</a>
				</div>
				<div class="dy-video-primary">

					<h4 class="dy-video-title"><a>
                            这就是命
					</a>
					</h4>
					<span class="dy-video-rating">
                                5.9
					</span>
				</div>
				</li>
				<li data- class="dy-video-item dy-video-meta-left">
				<div class="dy-video-meta">
					<div class="dy-video-meta-bg">
					</div>
					<div class="dy-video-meta-dy">
						<h4 class="dy-video-title">
						<a>
                        祖宗十九代
						</a>
						</h4>
						<span class="dy-video-rating">5.9</span>
						<ul class="dy-video-meta-list">
							<li class="dy-video-actors">
							<span class="dy-video-tip">
                                主演:
							</span>
							<a>岳云鹏</a>
							<a>吴京</a>
							</li>
							<li class="dy-video-types">
							<span class="dy-video-tip">类型:</span>
							<span class="dy-video-meta-filter">喜剧</span>
							<span class="dy-video-meta-filter">奇幻</span>
							</li>
							<li class="dy-video-areas">
							<span class="dy-split">|</span>
							<span class="dy-video-tip">地区:</span>
							<span class="dy-video-meta-filter">内地</span>
							</li>
							<li class="dy-video-starts">
							<span class="dy-split">|</span>
							<span class="dy-video-tip">年代:</span>
							<span class="dy-video-meta-filter">2018</span>
							</li>
						</ul>
						<p class="dy-video-intro">
										一个在现实中失意的青年作家小贝，在现实碰壁而低落的夜晚，经历穿越20世纪初拯救陷入帮派麻烦的祖先、清朝和参加科举考...
							<a class="dy-video-intro-more">更多</a>
						</p>
					</div>
					<div class="dy-video-meta-bg">
					</div>
				</div>
				<div class="dy-video-poster">
					<a class="dy-video-link">
					<img class="dy-video-img" src="/static/images/filmpc/11.jpg" alt="祖宗十九代">
					<span class="dy-video-nocomplete"></span>
					<span class="dy-video-date">
                                2018 年
					</span>
					<span class="dy-video-bg"></span>
					<span class="s-pay"></span>
					</a>
				</div>
				<div class="dy-video-primary">

					<h4 class="dy-video-title"><a>
                            祖宗十九代
					</a>
					</h4>
					<span class="dy-video-rating">
                                5.9
					</span>
				</div>
				</li>
				<li data- class="dy-video-item dy-video-item-last dy-video-meta-left">
				<div class="dy-video-meta">
					<div class="dy-video-meta-bg">
					</div>
					<div class="dy-video-meta-dy">
						<h4 class="dy-video-title">
						<a>
                        快把我哥带走
						</a>
						</h4>
						<span class="dy-video-rating">7.3</span>
						<ul class="dy-video-meta-list">
							<li class="dy-video-actors">
							<span class="dy-video-tip">
                                主演:
							</span>
							<a>张子枫</a>
							<a> 彭昱畅</a>
							</li>
							<li class="dy-video-types">
							<span class="dy-video-tip">类型:</span>
							<span class="dy-video-meta-filter">喜剧</span>
							<span class="dy-video-meta-filter">奇幻</span>
							</li>
							<li class="dy-video-areas">
							<span class="dy-split">|</span>
							<span class="dy-video-tip">地区:</span>
							<span class="dy-video-meta-filter">内地</span>
							</li>
							<li class="dy-video-starts">
							<span class="dy-split">|</span>
							<span class="dy-video-tip">年代:</span>
							<span class="dy-video-meta-filter">2018</span>
							</li>
						</ul>
						<p class="dy-video-intro">
										拥有一个每天耍贱整蛊妹妹、毫无家庭感的哥哥是一种什么感受？油炸还是蒸锅？时秒只希望哥哥时分彻底消失！连珍贵的生日愿...
							<a class="dy-video-intro-more">更多</a>
						</p>
					</div>
					<div class="dy-video-meta-bg">
					</div>
				</div>
				<div class="dy-video-poster">
					<a class="dy-video-link">
					<img class="dy-video-img" src="/static/images/filmpc/12.jpg" alt="快把我哥带走">
					<span class="dy-video-nocomplete"></span>
					<span class="dy-video-date">
                                2018 年
					</span>
					<span class="dy-video-bg"></span>
					<span class="s-pay"></span>
					</a>
				</div>
				<div class="dy-video-primary">

					<h4 class="dy-video-title"><a>
                            快把我哥带走
					</a>
					</h4>
					<span class="dy-video-rating">
                                7.3
					</span>
				</div>
				</li>
			</ul>
		</div>
	</div>
</div>
{% endblock %}

    </body>
</html>




