<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>安全中心</title>
    <link rel="stylesheet" type="text/css" href="/static/mxx/css/passport_v2.css">
</head>
<body>
    <div name="i71-home" class="security-con" style="">
        <div><!----> <!----></div>
        <ul>
            <li class="security-item">
                <span class="item-name">手机</span>
                <a href="javascript:;" class="btn-sec-green">修改手机</a>
                <span class="item-txt">+86  176******50</span>
            </li>
            <li class="security-item">
                <span class="item-name">邮箱</span>
                <a href="javascript:;" class="btn-sec-green">绑定邮箱</a>
                <span class="item-txt item-descript">绑定后，可以使用邮箱登录来保证账号安全</span>
            </li>
            <li class="security-item">
                <span class="item-name">登录密码</span>
                <a href="/changepwd/" class="btn-sec-green">修改密码</a>
                <span class="item-txt item-descript">登录时需要输入的密码</span>
            </li>
        </ul>
    </div>
    <script src="/static/mxx/js/safecenter/app_58ff7347.js"></script>
    <script src="/static/mxx/js/safecenter/common_a4627be8.js"></script>
    <script src="/static/mxx/js/safecenter/home_00d01885.js"></script>
    <script src="/static/mxx/js/safecenter/vendor_c25447d6.js"></script>
</body>
</html>