{% extends 'upload.html' %}


{% block title %}
    <span class="up">请,登录!</span>
    <span class="load">在上传</span>
{% endblock %}



{% block form %}
<form method="post" action="/form/" enctype="multipart/form-data">
    {% csrf_token %}
    {% if pd == 'sc' %}
    <div class="body" id="drop">
        <a href="/">返回主页面</a>
    </div>
    {% else %}
    <div class="body" id="drop">
        <a href="/login/">返回登录</a>
    </div>
    {% endif %}
</form>
{% endblock %}
{% block boby %}
{% endblock %}